<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F8F9F9;
  font-family: 'Oswald', sans-serif;
}

nav {
  background-color: #909497;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

header {
  background-image: url("https://i.pinimg.com/originals/a5/2d/b3/a52db3ade35e438e25caab07f6e6020b.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

header::after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 0;
  letter-spacing: 0.1em;
}

header p {
  font-size: 30px;
  margin: 0;
}

section {
  padding: 20px;
  text-align: center;
}

section h2 {
  margin: 0;
}

section p {
  margin-top: 0;
}

.bg-about {
  background-color: #000;
  color: #fff;
}

.bg-project {
  background-color: #000;
  color: #fff;
}


.bg-socialmedia {
  background-color: #000;
  color: #fff;
}

.social-ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-ul a {
  font-size: 30px;
  margin: 0 10px;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #fff;
  color: #333;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}
</style>